mistralai
pypdf
tiktoken 
python-dotenv
langchain-core
langchain_experimental
langchain-community
langgraph
langchain_mistralai
llama-index
llama-index-vector-stores-pinecone
pinecone
langchain-pinecone
pinecone-plugin-assistant
pinecone-client
pinecone[grpc]
lark
rich
tavily-python
